button:focus {
  background: #7647D9;
  border: none;
  color: #ffffff;
}

button {
border-radius: 50px;
font-size: 11px;
line-height: 125.5%;
color: #7647D9;
background: transparent;
border: 0.5px solid #7647D9;
}
